*{  /* RESET */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/Dark_Souls_Guia/DS1/imgDS1/ds1gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* cabeçario */

#cabesDS1{
    background-color: rgba(95, 94, 94, 0.266);
    display: inline;
    justify-content: space-between;
    align-items: center;
    color: rgb(5, 5, 5);
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#cabesDS1 h1{
    margin-left: 40px;
    display: inline;
}
#cabesDS1 li {
    display: inline;
    font-size: large;
    margin: 0px;
    margin-left:-30px;
}
#cabesDS1 li a{
    color: rgb(230, 230, 230);
    text-decoration: none;
    margin-left:100px;

}
#cabesDS1 li a:hover{
    color: chocolate;
}
#RS p{
    display: inline;
}
#RS a{
    float: right;
    margin-right: 50px;
}
#RS img{
    width: 30px;
    float:right;
    margin-right: -80px;
}

/* area centrau / caixa principal */

#mainbox{
    background-color: rgba(0, 0, 0, 0.9);
    width: 1500px;
    height: 10000px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5000px;
    padding: 10px;
}
#mainbox h1{
    color: rgb(177, 177, 177);
    margin-top: 75px;
    margin-left: 38%;
    margin-right: 300px;
    font-size: xxx-large;
}

/* imagem inicial e informações */

#imginicio{
    margin: 30px;
    display: inline;
    float: left;
}
#maininfo{
    margin-top: 80px;
    padding: 5px;
}
#maininfo a{
    color:rgb(72, 142, 247);
    text-decoration: none
}
#maininfo a:hover{
    text-decoration:underline
}
li{
    color: aliceblue;
    font-size: large;
    margin-bottom: 0;
    margin-top: 15px;
}

/* linhas */

#linha1{
    width: 1fr;
    margin-top: 5%;
    margin-left: 50px;
    margin-right: 50px;
}
#linha2{
    width: 1fr;
    margin-bottom: 10%;
    margin-top: 5%;
    margin-left: 50px;
    margin-right: 50px;
}

/* informações do jogo */

h2{
    color: aliceblue;
    text-decoration:underline;
    margin-left: 5%;
    margin-top: 75px;
    font-size: x-large;
}
p{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    font-size: x-large;
    color: aliceblue;
}


/* area 'STATUS' */


#esc_Status {

    margin-top: 500px;
    margin-left: 45px;
    margin-right: 45px;
    height: 400px;
}
#esc_Status h1{
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block ;
}
#esc_Status img{
    margin-left: 40%;
    float: left;
}
#ES1{
    border-style: double;
    border-color: rgb(69, 69, 69);
    font-size: xx-large;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 6%;
    padding-top: 25px;
    padding-right: -10PX;
}
#ES1 a{
    text-decoration: none;
    color: rgb(130, 130, 129);
    margin-left: 35px;
    margin-right:62px;
}
#ES1 a:hover{
    color: chocolate;
}


/* area 'WEAPONS' */


#esc_Weapons {

    margin-top: 500px;
    margin-left: 45px;
    margin-right: 45px;
    height: 500px;
}
#esc_Weapons h1{
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block ;
}
#esc_Weapons img{
    margin-left: 40%;
    float: left;
}
#ES2{
    border-style: double;
    border-color: rgb(69, 69, 69);
    font-size: x-large;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 6%;
    padding-top: 20px;
    padding-bottom: 25px;
}
#ES2 a{
    text-decoration: none;
    color: rgb(130, 130, 129);
    margin-left: 100px;
}
#ES2 a:hover{
    color: chocolate;
}


/* area 'ARMOR' */


#esc_Armor {
    margin-top: 350px;
    margin-left: 45px;
    margin-right: 45px;
    height: 500px;
}
#esc_Armor h1{
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block ;
}
#esc_Armor img{
    margin-left: 28%;
    float: left;
}
#ES3{
    border-style: double;
    border-color: rgb(69, 69, 69);
    font-size: x-large;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 6%;
    padding-top: 20px;
    padding-bottom: 50px;
}
#ES3 a{
    text-decoration: none;
    color: rgb(130, 130, 129);
    margin-left: 75px;
    margin-right: -10px
}
#ES3 a:hover{
    color: chocolate;
}
#Iss{
    margin-bottom: 50px;
    margin-top: 35px;
    margin-left: -4%;
    margin-right: -5%;
}


/* area 'Magias' */


#esc_Magics {
    margin-top: 500px;
    margin-left: 45px;
    margin-right: 45px;
    height: 400px;
}
#esc_Magics h1{
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block ;
}
#esc_Magics img{
    margin-left: 40%;
    float: left;
}
#ES6{
    border-style: double;
    border-color: rgb(69, 69, 69);
    font-size: xx-large;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 6%;
    padding-top: 40px;
    padding-bottom: 20px;
}
#ES6 a{
    text-decoration: none;
    color: rgb(130, 130, 129);
    margin-left: 8.8%;
}
#ES6 a:hover{
    color: chocolate;
}


/* area 'characters' */


#esc_Characters {

    margin-top: 700px;
    margin-left: 45px;
    margin-right: 45px;
    height: 500px;
}
#esc_Characters h1{
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block ;
}
#esc_Characters img{
    margin-left: 34%;
    float: left;
}
#ES7{
    border-style: double;
    border-color: rgb(69, 69, 69);
    font-size: x-large;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    padding-left: 100px;
    height: 1000px;
}
#ES7 a{
    text-decoration: none;
    color: rgb(130, 130, 129);
}
#ES7 li{
    margin-left: 10%;

}
#ES7 a:hover{
    color: chocolate;
}
#ES7 h2{
    margin-bottom: 25px;
    text-decoration: none;
}
#ferrei h2{
    margin-left: 10%;
}
#ferrei {
    width: 350px;
    float: right;
}
#comer h2{
    margin-left: 10%;
}
#comer {
    width: 350px;
    float: left;
}
#fantas h2{
    margin-left: 10%;
}
#fantas {
    margin-top: -50px;
    width: 350px;
    float: right;
    float: inline-end
}
#outros h2{
    margin-left: 10%;
}
#outros {
    margin-top: -50px;
    width: 350px;
    float: right;
    float: inline-end
}


/* area 'locations' */


#esc_Locations {

    margin-top: 1200px;
    margin-left: 45px;
    margin-right: 45px;
    height: 400px;
}
#esc_Locations h1{
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block ;
}
#esc_Locations img{
    margin-left: 40%;
    float: left;
}
#ES8{
    border-style: double;
    border-color: rgb(69, 69, 69);
    font-size: xx-large;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 6%;
    padding: 50px;
}
#ES8 a{
    text-decoration: none;
    color: rgb(130, 130, 129);
    margin-left: 1px;
    font-size: x-large;
}
#ES8 a:hover{
    color: chocolate;
}
#espacos1{
    float: right;
}


/* area 'curi' */


#esc_curi {
    margin-top: 1000px;
    margin-left: 45px;
    margin-right: 45px;
    height: 500px;
}
#esc_curi h1{
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block ;
}
#esc_curi img{
    margin-left: 32%;
    float: left;
    width: 100px;
}
#ES9{
    border-style: double;
    border-color: rgb(69, 69, 69);
    font-size: xx-large;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 6%;
    padding: 25px;
}
#ES9 a{
    text-decoration: none;
    color: rgb(130, 130, 129);
    margin-left: 80px;
}
#ES9 a:hover{
    color: chocolate;
}
#Eza{
    margin-bottom: 25px;
}
